* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  .dentalservices-container {
    display: flex;
    justify-content: center;
  }
  .dentalservices-grid {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .dentalservices-item {
    border: 1px solid #fff;
    overflow-wrap: break-word;
  }

  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 450px) {
  .dentalservices-container {
    display: flex;
    justify-content: center;
  }
  .dentalservices-grid {
    width: 1500px;
    display: flex;
    justify-content: center;
    padding-right: 100px;
  }
  .dentalservices-item {
    border: 1px solid #fff;
    overflow-wrap: break-word;
  }

  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding-top: 30px;
    padding-bottom: 30px
  }

  #cleaning {
    padding-left: 100px;
  }
  #implants {
    padding-left: 100px;
  }
}
