* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  #heading {
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 30px;
  }

  #subheading {
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }

  #paragraph {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #review {
    text-align: left;
    font-size: 12px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
  }

  #author {
    text-align: left;
    font-size: 12px;
    color: black;
    padding-left: 30px;
  }

  #date {
    text-align: left;
    font-size: 10px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
  }

  #gitlink {
    color: white;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 20px;
    background-color: black;
  }

  .main {
    text-align: center;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .col-md {
    text-align: center;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 450px) {
  #heading {
    text-align: center;
    font-size: 50px;
    color: black;
    padding: 50px;
  }

  #subheading {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
  }

  #paragraph {
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }

  #review {
    text-align: left;
    font-size: 20px;
    color: black;
    padding-left: 100px;
    padding-right: 100px
  }

  #author {
    text-align: left;
    font-size: 20px;
    color: black;
    padding-left: 100px;
    padding-right: 100px
  }

  #date {
    text-align: left;
    font-size: 15px;
    color: black;
    padding-left: 100px;
    padding-right: 100px
  }

  #gitlink {
    color: white;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 20px;
    background-color: black;
  }

  .main {
    text-align: center;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .col-md {
    text-align: center;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
